
.Navbar {
    width: 100%;
    min-height: 4rem ;
    position: fixed;
    top: 0;
    left: 0;
    background-color: orange;
    font-weight: 600;
  }
  
  .Container {
    padding: 0; /* Remove padding to extend the full width */
  }

  